@font-face {
  font-family: 'FixedSA';
  font-style: normal;
  font-weight: 400;
  src: url(http://github.com/scott0107000/secondary-axes/raw/main/FixedMedium.woff) format('woff');
}

@font-face {
  font-family: 'CNS';
  font-style: normal;
  font-weight: 400;
  src: url(待添加) format('woff');
}
